#!/usr/bin/env bash

set -eufo pipefail

if ! command -v brew > /dev/null 2>&1; then
    echo "brew not found, installing..."
    /usr/bin/env bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    # activate brew env in this script
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi

{{ $taps := list
-}}

{{ $brews := list
    "bash"
    "dockutil"
    "eza"
    "git-lfs"
    "git"
    "go"
    "hstr"
    "jq"
    "macmon"
    "mediainfo"
    "mosh"
    "rsync"
    "wget"
-}}

{{ $casks_system := list
    "font-jetbrains-mono-nerd-font"
    "visual-studio-code"
-}}

{{ $casks_user := list
    "aware"
    "fork"
    "ghostty"
    "jordanbaird-ice"
    "keepingyouawake"
    "maccy"
    "rectangle"
    "stats"
    "stolendata-mpv"
    "wezterm"
-}}

{{ if (eq .chezmoi.arch "arm64") -}}
{{   $brews = concat $brews (list
       "fd"
       "ripgrep"
     ) -}}
{{ end -}}

{{ if .personal -}}
{{   $casks_user = concat $casks_user (list
       "airflow"
       "glide-browser"
       "google-chrome@dev"
       "helium-browser"
       "keepassxc"
       "obsidian"
     ) -}}
{{   $casks_system = concat $casks_system (list
       "tailscale-app"
     ) -}}
{{ end -}}

mkdir -p "$HOME/Applications"

brew bundle --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
cask_args appdir: "/Applications"
{{ range ($casks_system | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
cask_args appdir: "~/Applications"
{{ range ($casks_user | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
