#!/usr/bin/env bash

set -eufo pipefail

if ! command -v brew > /dev/null 2>&1; then
    echo "brew not found, installing..."
    /usr/bin/env bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    # activate brew env in this script
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi

{{ $taps := .packages.darwin.base.taps -}}
{{ $brews := .packages.darwin.base.brews -}}
{{ $casks_system := .packages.darwin.base.casks.system -}}
{{ $casks_user := .packages.darwin.base.casks.user -}}

{{ if (eq .chezmoi.arch "arm64") -}}
{{   $brews = concat $brews .packages.darwin.arm64.brews -}}
{{ end -}}

{{ if .personal -}}
{{   $casks_user = concat $casks_user .packages.darwin.personal.casks.user -}}
{{   $casks_system = concat $casks_system .packages.darwin.personal.casks.system -}}
{{ end -}}

mkdir -p "$HOME/Applications"

brew bundle --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
cask_args appdir: "/Applications"
{{ range ($casks_system | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
cask_args appdir: "~/Applications"
{{ range ($casks_user | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
