{{ $values := . }}

{{- $githubRootDir := (joinPath .chezmoi.sourceDir "dot_local/cli/.github.com") -}}
{{- $seen := dict -}}

{{- /* include GitHub external */ -}}
{{- $externalGithub := glob (joinPath $githubRootDir "*json") }}
{{- range $_, $path := $externalGithub }}
{{-   $content := include $path }}
{{-   $external := fromJson $content }}
{{-   $external = fromJson (includeTemplate "_json_extends.tmpl" (dict "json" $external "rootPath" $githubRootDir)) }}
{{- /* make a copy of values */ -}}
{{-   $values_copy := $values | deepCopy }}
{{-   $_ := set $values_copy "this" $external }}
{{- /* include entry */ -}}
{{-   $name := default "" $external.name }}
{{-   if not (hasKey $seen $name) }}
{{-     $entry := includeTemplate "external_github.toml.tmpl" (dict "val" $values_copy "path" (osBase $path)) }}
{{-     if (trim $entry) }}
{{        $entry }}
{{-       $_ := set $seen $name true }}
{{-     end }}
{{-   end }}
{{- end -}} {{/* range $_, $path := $externalGithub */}}
