{{ $values := . }}
{{ $result := $values | deepCopy }}

{{ if hasKey $values "this" }}
{{   if hasKey $values.this "condition" }}
{{     range $k, $v := $values.this.condition }}
{{/* extract current value */}}
{{       $current_value := fromJson (includeTemplate "_func_dig_from_dict.tmpl" (dict "dict" $values "key" $k)) }}
{{       if not (kindIs "invalid" $current_value) }}
{{/* generate key */}}
{{         $kl := splitList "." $k }}
{{         $parent_dict_key := slice $kl 0 (sub (len $kl) 1) }}
{{         $dict_key := slice $kl (sub (len $kl) 1) (len $kl) }}
{{/* NOTE: should not have more than one element here */}}
{{         $dict_key := $dict_key | join "." }}
{{         $parent_dict := fromJson (includeTemplate "_func_dig_from_dict.tmpl" (dict "dict" $result "key" ($parent_dict_key | join "."))) }}
{{/* comapre value */}}
{{         if and (hasKey $parent_dict $dict_key) (ne $v (get $parent_dict $dict_key)) }}
{{/* remove config to prevent download */}}
{{           $this := get $result "this" }}
{{           $_ := unset $this "config" }}
{{           $_ := set $this "config" dict }}
{{           $_ := set $result "this" $this }}
{{           break }}
{{         end }}
{{       else }}
{{/* condition not found, treat as false */}}
{{         $this := get $result "this" }}
{{         $_ := unset $this "config" }}
{{         $_ := set $this "config" dict }}
{{         $_ := set $result "this" $this }}
{{         break }}
{{       end }}
{{     end }}
{{   end }}
{{ end }}

{{- toJson $result -}}
