{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $kubernetes := false -}}{{/* true if this machine is used for Kubernetes work */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}
{{/* use stable hostname on macOS */}}
{{- if eq .chezmoi.os "darwin" }}
{{- $hostname = output "scutil" "--get" "LocalHostName" | trim | lower -}}
{{- end }}

{{- if not $ephemeral -}}
{{-   if (hasPrefix "nemanja" (lower $hostname)) -}}
{{-     $personal = true -}}
{{-   else if (hasPrefix "NAS" $hostname) -}}
{{-     $headless = true -}}
{{-     $personal = true -}}
{{-   else if stdinIsATTY -}}
{{-     if hasKey . "headless" -}}
{{-       $headless = .headless -}}
{{-     else -}}
{{-       $headless = promptBoolOnce . "headless" "headless" -}}
{{-     end -}}
{{-     if hasKey . "ephemeral" -}}
{{-       $ephemeral = .ephemeral -}}
{{-     else -}}
{{-       $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-     end -}}
{{-     if hasKey . "kubernetes" -}}
{{-       $kubernetes = .kubernetes -}}
{{-     else -}}
{{-       $kubernetes = promptBoolOnce . "kubernetes" "kubernetes" -}}
{{-     end -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{- if (env "KUBERNETES") -}}
{{-   $kubernetes = true -}}
{{- end -}}

{{- if (env "PERSONAL") -}}
{{-   $personal = true -}}
{{- end -}}

[data]
  ephemeral = {{ $ephemeral }}
  headless = {{ $headless }}
  hostname = {{ $hostname | quote }}
  kubernetes = {{ $kubernetes }}
  personal = {{ $personal }}
