{{- $homeDir := .chezmoi.homeDir -}}
{{- $paths := list -}}

{{- /* include special path directories */ -}}
{{- range $_, $relPath := list ".local/bin" ".local/czbin" }}
{{-   $path := joinPath $homeDir $relPath }}
{{-   if stat $path }}
{{-     $paths = mustAppend $paths $path }}
{{-   end }}
{{- end }}

{{- /* process extra files with environment variables */ -}}
{{- $envFiles := glob (joinPath $homeDir ".local/env.d/*") }}
{{- if $envFiles }}
# Environment variable files:
{{ end }}

{{- range $_, $path := $envFiles }}
{{-   $extras := list }}

{{-   $lines := splitList "\n" (include $path) }}
{{-   range $_, $line := $lines }}
{{-     if contains "export PATH" $line }}
{{- /* extract raw path */ -}}
{{-       $p := $line }}
{{-       $p = regexReplaceAll ":*\\$PATH:*" $p "" }}
{{-       $p = regexReplaceAll "export\\s+PATH.*=" $p "" }}
{{-       $p = trimAll "\"" $p }}
{{-       $paths = mustAppend $paths $p }}
{{-     else }}
{{-       $extras = mustAppend $extras $line }}
{{-     end }}
{{-   end }}

{{-   if gt (len $extras) 1 }}
{{- /* write into file */}}
##
## {{ base $path | toString }}
##
{{-     range $_, $extraEnv := $extras }}
{{        $extraEnv | toString }}
{{-     end }}
{{-   end }}

{{- end }}

##
## PATH
##
{{- with $paths }}
export PATH=$PATH:{{ $paths | join ":" }}
{{- end }}
