{{- if eq .chezmoi.os "linux" }}
# ~/.profile: executed by Bourne-compatible login shells.

if [ "$BASH" ]; then
  if [ -f ~/.zbashrc ]; then
    # shellcheck source=dot_zbashrc
    . ~/.zbashrc
  fi
fi

mesg n 2> /dev/null || true
{{- end }}
