{{- if eq .chezmoi.os "linux" }}
{{-   $idLikeList := splitList " " (default .chezmoi.osRelease.id (get .chezmoi.osRelease "idLike")) }}
{{-   if has "debian" $idLikeList }}
{{-     include ".bashrc_linux_debian" }}
{{-   else if has "rhel" $idLikeList }}
{{-     include ".bashrc_linux_rhel" }}
{{-   else }}
{{-     include ".bashrc_linux" }}
{{-   end }}

{{- includeTemplate ".sh_env.tmpl" . }}

if [ -f ~/.sh_aliases ]; then
   . ~/.sh_aliases
fi

{{- $path := joinPath .chezmoi.homeDir ".local/scripts" "bash-preexec.sh" }}
{{ if stat $path }}
source {{ $path }}
{{- end }}

{{ if stat (joinPath .chezmoi.homeDir ".local/czbin" "atuin") -}}
eval "$(atuin init bash --disable-up-arrow)"
{{- end }}

{{ if stat (joinPath .chezmoi.homeDir ".local/czbin" "mise") -}}
eval "$(mise activate bash)"
{{- end }}

{{ if stat (joinPath .chezmoi.homeDir ".local/czbin" "starship") -}}
eval "$(starship init bash)"
{{- end }}

{{- end }}
