*~
*__*

.DS_Store
.vscode/*

.bin/
.mirrord/

# exclude '*ignore' files except gitignore
.*ignore
!.gitignore

.air.toml
.env*
.mise.toml
*.local

{{ $path := joinPath .chezmoi.homeDir ".gitignore_global_extra" }}
{{- if stat $path -}}
# Extra
{{ include $path }}
{{- end -}}
