export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'

# Make nano the default editor.
export EDITOR='nano'

{{ if eq .chezmoi.os "darwin" -}}
# disable Homebrew analytics
export HOMEBREW_NO_ANALYTICS=1
{{ end }}

{{- includeTemplate ".sh_env.tmpl" . }}

skip_global_compinit=1

export ZDOTDIR=$HOME
