[user]
    useConfigOnly = true
[core]
    editor = nano
    excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
    autocrlf = input
[init]
    defaultBranch = main
[pull]
    ff = only
[push]
    autoSetupRemote = true
    default = current

[alias]
    co = checkout
    ci = commit
    st = status
    stu = status -uno
    br = branch
    rso = remote show origin
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    ######################
    fp = fetch --prune
    pp = pull --prune
    ######################
    ssave = stash save
    slist = stash list
    speek = stash apply stash@{0}
    ######################
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    fuckit = reset --hard HEAD
    ######################
    # Will clean up local branches, removing those that don't have a remote anymore (like merged after a PR).
    # Won't remove branches that are ONLY in local.
    prune-branches = "!git fetch -p && for branch in `git branch -vv | grep ': gone]' | awk '{print $1}'`; do git branch -D $branch; done"
    ######################

[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f

[diff "lockb"]
    textconv = bun
    binary = true

{{-  if .personal }}

[github]
    user = zbiljic

[url "git@github.com:zbiljic/"]
    insteadOf = https://github.com/zbiljic/
{{- end }}
