*~
*__*

.DS_Store
.vscode/*

.bin/
.mirrord/

# exclude '*ignore' files except gitignore
.*ignore
!.gitignore

.air.toml
.env*
*.local
mise.local.toml

{{- /* process extra files */ -}}
{{- $extraPathGlob := (printf "%s_extra*" .chezmoi.targetFile | base) }}
{{- $rootDirs := list .chezmoi.sourceDir .chezmoi.homeDir }}
{{- $paths := list }}
{{- range $rootDirs }}
{{-   $paths = concat $paths (glob (joinPath . $extraPathGlob)) }}
{{- end }}
{{ if $paths }}
## Extra
{{ range $paths }}
{{ include . }}
{{ end -}}
{{ end -}}
