# ZSH options
setopt histignoredups
setopt histignorespace

if [ -f ~/.sh_aliases ]; then
   . ~/.sh_aliases
fi

{{ if stat (joinPath .chezmoi.homeDir ".local/czbin" "atuin") -}}
eval "$(atuin init zsh --disable-up-arrow)"
{{- end }}

{{ if stat (joinPath .chezmoi.homeDir ".local/czbin" "starship") -}}
eval "$(starship init zsh)"
{{- end }}
