{{- $zshProfiling := false -}}
{{- with (env "CHEZMOI_ZSH_PROFILING") -}}
{{-   $zshProfiling = or (eq . "1") (eq (lower .) "true") -}}
{{- end -}}
{{ if $zshProfiling -}}
zmodload zsh/zprof
{{- end }}

# ZSH options
setopt histignoredups
setopt histignorespace

if [ -f ~/.sh_aliases ]; then
   . ~/.sh_aliases
fi

{{ if stat (joinPath .chezmoi.homeDir ".local/czbin" "atuin") -}}
eval "$(atuin init zsh --disable-up-arrow)"
{{- end }}

{{ if stat (joinPath .chezmoi.homeDir ".local/czbin" "mise") -}}
eval "$(mise activate zsh)"
{{- end }}

{{ if stat (joinPath .chezmoi.homeDir ".local/czbin" "starship") -}}
eval "$(starship init zsh)"
{{- end }}

{{ $path := printf "%s_extra" .chezmoi.targetFile }}
{{- if stat $path }}
{{ include $path }}
{{- end }}

{{- if $zshProfiling -}}
zprof
{{- end }}
