{{- if eq .chezmoi.os "linux" }}
{{-   $idLikeList := splitList " " (default .chezmoi.osRelease.id (get .chezmoi.osRelease "idLike")) }}
{{-   if has "debian" $idLikeList }}
{{-     include ".bashrc_linux_debian" }}
{{-   else if has "rhel" $idLikeList }}
{{-     include ".bashrc_linux_rhel" }}
{{-   else }}
{{-     include ".bashrc_linux" }}
{{-   end }}

if [ -f ~/.sh_aliases ]; then
   . ~/.sh_aliases
fi

{{- end }}
