{{ if .extras -}}
[env]
# renovate: datasource=github-releases depName=ogulcancelik/herdr
HERDR_VERSION = "0.7.4"

[tools]
television = "0.15.9"

"github:bokwoon95/wgo" = "v0.6.4"
"github:joho/godotenv" = "1.5.1"
"github:junegunn/fzf" = "v0.74.0"
"github:kavehtehrani/cloudflare-speed-cli" = "1.0.6"
"github:sinelaw/fresh" = "0.4.4"
"github:sxyazi/yazi" = "26.5.6"
"github:trasta298/keifu" = "0.5.0"
"github:trzsz/trzsz-ssh" = "0.1.25"
"github:trzsz/tsshd" = "0.1.8"
{{ end -}}
