{{ if .extras -}}
[env]
# renovate: datasource=github-releases depName=herdrdev/herdr
HERDR_VERSION = "0.8.2"

[tools]
television = "0.15.9"

"github:bokwoon95/wgo" = "v0.7.1"
"github:joho/godotenv" = "1.5.1"
"github:junegunn/fzf" = "v0.74.3"
"github:kavehtehrani/cloudflare-speed-cli" = "v1.0.8"
"github:sinelaw/fresh" = "v0.4.10"
"github:sxyazi/yazi" = "v26.8.15"
"github:trasta298/keifu" = "v0.6.0"
"github:trzsz/trzsz-ssh" = "v0.1.26"
"github:trzsz/tsshd" = "v0.1.9"

"github:matthart1983/diskwatch" = "v0.3.2"
"github:matthart1983/netwatch" = "v0.29.2"
"github:matthart1983/syswatch" = "v0.9.0"

{{ end -}}
