{{ if .extras -}}
[env]
# renovate: datasource=github-releases depName=herdrdev/herdr
HERDR_VERSION = "0.8.0"

[tools]
television = "0.15.9"

"github:bokwoon95/wgo" = "v0.6.4"
"github:joho/godotenv" = "1.5.1"
"github:junegunn/fzf" = "v0.74.2"
"github:kavehtehrani/cloudflare-speed-cli" = "v1.0.8"
"github:sinelaw/fresh" = "v0.4.7"
"github:sxyazi/yazi" = "26.5.6"
"github:trasta298/keifu" = "v0.6.0"
"github:trzsz/trzsz-ssh" = "v0.1.26"
"github:trzsz/tsshd" = "v0.1.9"

"github:matthart1983/diskwatch" = "0.1.6"
"github:matthart1983/netwatch" = "v0.28.2"
"github:matthart1983/syswatch" = "0.7.7"

{{ end -}}
