{{ if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}

{{ $packages := list -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/usr/bin/env bash

set -eufo pipefail

{{ with $packages }}
{{ $sudo }}apt update
{{ $sudo }}apt install -y {{ $packages | join " " }}
{{ end }}

{{ end -}}
